<!--Adding Header.ejs-->
<%- include('partials/header'); -%>
<!--Adding complete-->
<h1>About</h1>
<p><%= aboutStartingContentBlog %></p>
<!--Adding footer.ejs-->
<%- include('partials/footer'); -%>
<!--Adding complete-->