<!--Adding Header.ejs-->
<%- include('partials/header'); -%>
<!--Adding complete-->
<h1>Contact</h1>
<p><%= contactStartingContentBlog %></p>
<!--Adding footer.ejs-->
<%- include('partials/footer'); -%>
<!--Adding complete-->