<!--Adding Header.ejs-->
<%- include('partials/header'); -%>
<!--Adding complete-->
<h1><%= title1 %></h1>
<p><%= content1 %></p>

<!--Adding footer.ejs-->
<%- include('partials/footer'); -%>
<!--Adding complete-->